* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    text-align: center;
    background: #eef2f7;
    margin: 0;
}

h1 {
    position: relative;   /* important */
    background: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;   /* text center */
}


.container {
    display: flex;
    flex-wrap: wrap;   /* new */
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

    width: 100%;
    max-width: 300px;
}

button {
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

#dark {
    position: absolute;
    right: 20px;   /* right corner */
    top: 50%;
     transform: translateY(-50%); 
    
    background: #f36c6c;
}
button:hover {
    background: #e0d1c5;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
   li {
    width: 90%;
    max-width: 400px;
    flex-wrap: wrap;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.chart-box {
    width: 90%;
    max-width: 400px;
}

.dark {
    background: #121212;
    color: white;
}

.dark li {
    background: #1e1e1e;
}

.dark input {
    background: #333;
    color: white;
}

.dark button {
    background: #555;
}
.limit-box {
    margin-top: 20px;
}

#showLimit {
    margin-top: 10px;
    color: #333;
}
#resetBtn {
    background: red;
    margin-top: 20px;
    margin-bottom: 20px;
}

#resetBtn:hover {
    background: darkred;
}
